# Python runtime files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
# This folder is specific to your local machine and can be very large
venv/
env/

# IDE and editor directories
.idea/
.vscode/

# macOS specific files
.DS_Store

# Large Asset Files
# It's bad practice to store large binary files like model weights in Git.
# The README instructs users to download these manually.
assets/model_files/bin/

# Output directories
# Generated images should not be committed to the repository.
assets/output_images/